.about {
  padding-top: 114px;
  scroll-margin-top: 51.5px;
  &__content {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1.3fr;
  }
  &__text {
    padding: 0 28.5px;
    text-align: start;
  }
  &__title {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 4rem;
    line-height: 0.85;
  }
  &__info {
    margin-top: 57px;
    font-size: 1.2rem;
    line-height: 1.4;
  }
  &__video {
    width: 100%;
    min-height: calc(100svh - 279.5px);
    background-size: cover;
    background-size: contain;
  }
}
