.news {
  padding: 114px 0;
  &__content {
    width: 720px;
    margin: 0 auto;
  }
  &__title {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 4rem;
    font-weight: 300;
    line-height: 1;
  }
  &__video {
    height: 405px;
    margin-top: 114px;
  }
}
